# Just don't commit database
app/*.db

# Ignore Gradle project-specific cache directory
.gradle/
bin/

# Ignore Gradle build output directory
build/

#vs code settings can be ignored
.vscode/
.settings/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
stanford-corenlp-4.2.0-models-english.jar
.DS_Store
