@import url("https://www.w3schools.com/w3css/4/w3.css");

body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
}
/*Large screen*/
@media only screen and (min-width: 997px) {
    body {
        background-color: white;
    }
    button {
        width:20vw;
    }
    form {
        width:50vw;
        margin: auto;
        text-align: center;
    }
    .attributeBox{
        width: 45vw;
        alignment: center;
        margin: auto;
    }
    .flag{
        width: 20vw;
        alignment: center;
        margin: auto;
    }
}
/*Medium screen*/
@media only screen and (min-width: 479px) and (max-width: 997px) {
    body {
        background-color: white;
    }
    button {
        width:45vw;
    }
    form {
        width:75vw;
        margin: auto;
        text-align: center;
    }
    .attributeBox{
        width: 50vw;
        alignment: center;
        margin: auto;
    }
    .flag{
        width: 45vw;
        alignment: center;
        margin: auto;
    }
}
/*Mobile*/
@media only screen and (max-width: 479px) {
    body {
        background-color: white;
    }
    button {
        width:50vw;
    }
    .flag{
        width: 50vw;
        alignment: center;
        margin: auto;
    }
}

/* To make the feedback form looks more distinguishable */
ul.event_feedback:nth-child(odd) {
    background-color: rgb(128, 191, 255);
}

ul.event_feedback:nth-child(even) {
    background-color: rgb(204, 230, 255);
}

ul.template_questions:nth-child(2n+1) {
    background-color: rgb(128, 191, 255);
}

ul.template_questions:nth-child(2n) {
    background-color: rgb(204, 230, 255);
}