<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Submit your feedback</title>
</head>
<body>

    <div class="w3-container w3-center w3-large w3-indigo">
        <div>
            <h1 id="title" th:text="'Event #' + ${eventCode} + ' : ' + ${eventName}"></h1>
        </div>
    </div>

    <form class="w3-container w3-center" method="POST" id="feedbackForm" action="/attendee/submitFeedback">

        <label for="name" class="w3-text-blue"><b>Your name (Optional)</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" placeholder="Your name" name="name" id="name"><br>

        <label for="feedback" class="w3-text-blue"><b>Feedback</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" placeholder="Feedback" name="feedback" id="feedback" required><br>

        <label for="mood" class="w3-text-blue"><b>Your mood on a scale of 1 to 10, with 10 being the happiest.</b></label><br>
        <input type="number" class="w3-input w3-border w3-light-grey w3-center" name="mood" id="mood" step="1" min="1" max="10" required><br>

        <label for="info" class="w3-text-blue"><b>Additional information (Optional)</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" name="info" id="info"><br>

        <label class="w3-text-blue" hidden><b>How would you rate the following on a scale of 1 to 10, with 10 being the best?</b></label><br>
        <div id="attributes" hidden></div><br>

        <button type="submit" class="w3-btn w3-blue w3-round-xxlarge w3-padding" style="width:50%" onclick="submitMessage()">Submit feedback</button>

    </form>

    <br><br>

    <form class="w3-container w3-center" method="POST" action="/attendee/leaveEvent">

        <button type="submit" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding" style="width:50%">Leave event</button>

    </form>

    <script>

        const form = $('#newEventForm');

        form.click(function(){
            if (form.checkValidity()) {
                alert("Feedback submitted");
            }
        });

    </script>

</body>
</html>