<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Submit your feedback</title>
</head>
<body>

    <div class="w3-container w3-center w3-large w3-indigo">
        <div>
            <h1 id="title" th:text="'Event ' + ${Event.eventID} + ' : ' + ${Event.eventName}"></h1>
        </div>
    </div>

    <form class="w3-container w3-center" method="POST" id="feedbackForm" action="/attendee/submitFeedback">

        <label for="name" class="w3-text-blue"><b>Your name. (Optional)</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" placeholder="Enter your name here" name="attendeeName" id="attendeeName"><br>

        <label for="feedback" class="w3-text-blue"><b>Feedback. (Required)</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" placeholder="Write feedback here" name="feedback" id="feedback" required><br>

        <label for="mood" class="w3-text-blue"><b>Your mood during the event on a scale of 1 to 10, with 10 being the happiest. (Required)</b></label><br>
        <input type="number" class="w3-input w3-border w3-light-grey w3-center" name="mood" id="mood" step="1" min="1" max="10" placeholder="10" required><br>

        <label for="info" class="w3-text-blue"><b>Additional information. (Optional)</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" name="additionalInformation" id="additionalInformation"><br>

        <label class="w3-text-blue" th:style="${question} == null ? 'display:none;' : 'display:block;'"><b>How would you rate the following on a scale of 1 to 10, with 10 being the best?</b></label><br>

        <button type="submit" id="feedback_submit" class="w3-btn w3-blue w3-round-xxlarge w3-padding">Submit feedback</button><br>

        <label for="error_th" class="w3-text-red" th:style="${error == null ? 'display:none;' : 'display:block;'}"><b th:text="${error}"></b></label>
        <label for="error" id="error" class="w3-text-red" hidden></label>

    </form>

    <br>

    <!-- This is a template that will be copied by JS -->
    <div id="attributes_x" class="template_arrtibutes" style="display:none;">
        <label id="QxTitle" class="w3-text-blue">x.Title</label>
        <input type="number" class="w3-input w3-border w3-light-grey w3-center" name="QxAnswer" id="QxAnswer" step="1" min="1" max="10" required><br>
    </div><br>


    <form class="w3-container w3-center w3-margin-bottom" method="GET" action="/attendee/leaveEvent">

        <button type="submit" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding">Leave event</button>

    </form>

    <script>

        var template_questions = "[[${question}]]";

        var eventStart = Date.parse("[[${Event.startDateTime}]]");
        var eventFinish = Date.parse("[[${Event.finishDateTime}]]");

        //this function will be called as soon as the webpage loads up
        $(document).ready(function(){
            //render template
            //as Thymeleaf parsed quotation marks to html values, we need to convert it back
            template_questions = template_questions.replaceAll("&quot;", "\"");
            template_questions = JSON.parse(template_questions);

            var i;
            for(i = 0; i < template_questions.length; i++){
                var q = i + 1;
                //get a new template object
                //change the props
                var next = $("#attributes_x").clone();
                var curr_title = next.children("#QxTitle");
                var curr_answer = next.children("#QxAnswer");

                next.css("display", "block");
                next.prop("class", "attributes");//to distinguish from the template elements
                next.prop("id", "attributes_" + q);
                curr_title.prop("id", "Q" + q + "Title");
                curr_title.html(q + "." + template_questions[i].title);
                curr_answer.prop("id", "Q" + q + "Answer");
                curr_answer.prop("name", "Q" + q + "Answer");

                //render
                next.insertBefore("#feedback_submit");
            }
        });

        $('#feedbackForm').submit(function(){
            //make sure the event is still valid, i.e., event has started and not yet finished
            var now = new Date();
            if(now < eventStart){
                $("#error").html("<b>Event has not yet started</b>").prop("hidden", false);
                return false;
            }
            if(now > eventFinish){
                $("#error").html("<b>Event has ended</b>").prop("hidden", false);
                return false;
            }

            if (this.checkValidity()) {
                //check if there is any customised question
                if(template_questions.length > 0){
                    //serialise feedback for template questions
                    var answers = new Array();
                    //loop through each answers
                    $(".attributes").each(function(i){
                        //push to answers array
                        answers.push($(this).children("input").val());
                    });
                    //create a hidden field and submit
                    var template_answers = $("<input>").attr("type", "hidden");
                    template_answers.prop("name", "answer");//matches our Feedback class object, auto-parsed
                    template_answers.val(JSON.stringify(answers));//convert object to JSON
                    $(this).append(template_answers);
                }
                
                return true;
            }

            //validation failed, prevent posting
            return false;
        });

    </script>

</body>
</html>