<!DOCTYPE html>
<html lang="en"></html>
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Host home</title>
</head>
<body>

    <div class="w3-container w3-center w3-large w3-indigo">
        <div>
            <h1> Welcome </h1>
            <h2 th:text="${Firstname} + ' ' + ${Lastname}"></h2>
        </div>
    </div>

    <br>

    <div class="w3-container w3-center">
        <form method="GET">
            <input type="hidden" id="username" name="username" value="">
            <button class="w3-btn w3-blue w3-round-xxlarge w3-padding " type="submit" formaction="/host/newEventPage" >Create a new event</button><br><br>
            <button class="w3-btn w3-blue w3-round-xxlarge w3-padding " type="submit" formaction="/host/eventsPage" >Check my events</button><br><br>
        </form>
    </div>
    <div class="w3-container w3-center">
        <form method="GET", action="/host/signout">
            <button class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding " type="submit" >Sign out</button>
        </form>
    </div>

</body>
</html>