<!DOCTYPE html>
<html lang="en"></html>
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Login</title>
</head>
<body>

    <div class="w3-container w3-indigo w3-center">
        <h1>Event hosts please log in first:</h1>
    </div>
    <br>
    <form class="w3-container w3-center" method="POST" action="login">
        <label class="w3-text-blue"><b>Username</b></label><br>
        <input name="username" class="w3-input w3-border w3-light-grey w3-center" type="text" placeholder="Enter Username" required> <br>
        
        <label class="w3-text-blue"><b>Password</b></label><br>
        <input name="password" class="w3-input w3-border w3-light-grey w3-center" type="text" placeholder="Enter Password" required><br>

        <label for="error" class="w3-text-red" th:style="${error == null ? 'display:none;' : 'display:block;'}"><b th:text="${error}"></b></label><br>
        <button class="w3-btn w3-blue w3-round-xxlarge w3-padding" type="submit">Login</button><br><br>


    </form>

    <form class="w3-container w3-center" method="GET" action="registerPage">
        <label class="w3-text-blue"><b>Don't have an account?</b></label><br>
        <button name="register" class="w3-btn w3-blue w3-round-xxlarge w3-padding" type="submit">Register</button><br><br>
    </form>

    <form class="w3-container w3-center" method="GET" action="/">
        <button id="back" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding " type="submit">Go back to home page</button> <br><br>
    </form>

</body>
</html>