<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Create a new event</title>
</head>
<body>

    <div class="w3-container w3-center w3-large w3-indigo">
        <div>
            <h1> New event: </h1>
        </div>
    </div>

    <form class="w3-container w3-center" method="POST" id="newEventForm" action="/host/newEvent">
        <label for="eventName" class="w3-text-blue"><b>Event name:</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" placeholder="Event name" name="eventName" id="eventName" required><br>

        <label for="startDate" class="w3-text-blue"><b>Starting date:</b></label><br>
        <input type="date" class="w3-input w3-border w3-light-grey w3-center" placeholder="YYYY-MM-DD" name="startDate" id="startDate" required><br>

        <label for="startTime" class="w3-text-blue"><b>Starting time:</b></label><br>
        <input type="time" class="w3-input w3-border w3-light-grey w3-center" name="startTime" id="startTime" placeholder="HH:mm" required><br>

        <label for="endDate" class="w3-text-blue"><b>Ending date:</b></label><br>
        <input type="date" class="w3-input w3-border w3-light-grey w3-center" placeholder="YYYY-MM-DD" name="endDate" id="endDate" required><br>

        <label for="endTime" class="w3-text-blue"><b>Ending time:</b></label><br>
        <input type="time" class="w3-input w3-border w3-light-grey w3-center" name="endTime" id="endTime" placeholder="HH:mm" required><br>

        <label for="password" class="w3-text-blue"><b>Set a password for this event:</b></label><br>
        <input type="text" class="w3-input w3-border w3-light-grey w3-center" name="eventPassword" id="password" required><br>

        <label for="estimatedAttendeeNumber" class="w3-text-blue"><b>Estimated number of attendees:</b></label><br>
        <input type="number" class="w3-input w3-border w3-light-grey w3-center" step="1" min="1" name="estimatedAttendeeNumber" id="estimatedAttendeeNumber" placeholder="0" required><br>

    </form>

    <br>

    <!-- Put the div into a form so every customised fields will be posted -->
    <div class="w3-container w3-center">
        <label for="error" class="w3-text-red" th:style="${error == null ? 'display:none;' : 'display:block;'}"><b th:text="${error}"></b></label>

        <label class="w3-text-blue"><b>You can also add customised attributes for attendees to rate on a scale of 1 to 10, with 10 being the best:</b></label><br><br>
        <!-- Please style the attribute thingy -->
        <!-- This item will be duplicated by JS -->
        <div id="attributes_x" class="template_attributes" style="display:none;">
            <label id="QxLabel" class="w3-text-blue w3-padding">Question x:</label>
            <input type="text" class="w3-input w3-border w3-light-grey w3-center w3-padding attributeBox" name="QxTitle" id="QxTitle" placeholder="Enter an attribute here" required>
            <button id="del_attr_x" class="w3-btn w3-white w3-border w3-border-blue w3-round-medium w3-padding" onclick='remove_attr(x);'> - Delete this attribute - </button><br><br>
        </div>
        <br>
        <button id="add_attr" class="w3-btn w3-white w3-border w3-border-blue w3-round-medium w3-padding">+ Add an attribute +</button><br>
    </div>

    <br><br><br>

    <div class="w3-container w3-center">
        <button id="submitFormButton" type="button" class="w3-btn w3-blue w3-round-xxlarge w3-padding">Create</button>
    </div>
    <br>

    <form class="w3-container w3-center w3-margin-bottom" method="GET" action="/host/hostHomePage">

        <button type="submit" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding">Discard & Go back to menu</button>

    </form>

    <script>

        $(document).ready(function() {
            $("#submitFormButton").click(function() {
                $("#newEventForm").submit();
            });
        });

        //a record of the number of template question
        var template_count = 1;

        $('#newEventForm').submit(function(){
            if (this.checkValidity()) {
                //keep an record of the number of template question
                var num = $("<input>").attr("type", "hidden");
                num.prop("name", "template_count");
                //as template_count record the next index, we should minus one for the total number
                num.val(template_count - 1);
                $(this).append(num);

                //submit template data by JSON
                var questions = new Array();
                $('.attributes').each(function(counter){
                    //construct an empty object
                    var item = {};
                    //loop through all template question
                    var curr_input = $(this).children("input");
                    item.title = curr_input.val();
                    //insert into questions array
                    questions.push(item);
                });
                //finally append JSON to the form and submit
                var template_questions = $("<input>").attr("type", "hidden");
                template_questions.prop("name", "template_questions");
                template_questions.val(JSON.stringify(questions));//convert object to JSON
                $(this).append(template_questions);

                return true;
            }

            //do not submit if validation fails
            alert("All the fields must be filled")
            return false;
        });

        $('#add_attr').click(function(){
            //clone attributes
            var next = $('#attributes_x').clone();
            next.insertBefore('#attributes_x');
            next.css("display", "block");
            next.prop("id", "attributes_" + template_count);
            //change the class name for attributes div block, to maintain a clean origin copy.
            next.prop("class", "attributes");
            //set child props
            var next_label = next.children('#QxLabel');
            var next_remove = next.children('#del_attr_x');
            var next_question = next.children('#QxTitle');
            next_label.prop("id", "Q" + template_count + "Label");
            next_label.html("Attribute " + template_count + ":");
            next_question.prop("id", "Q" + template_count + "Title");
            next_question.prop("name", "Q" + template_count + "Title");
            next_remove.prop("id", "del_attr_" + template_count);
            //update the clicking event
            next_remove.attr("onclick", "remove_attr(" + template_count + ");");

            template_count++;
        });

        function remove_attr(attr_index){
            $('#attributes_' + attr_index).remove();
            //decrease the index
            template_count--;

            refresh_attrLabel();
        }

        //refresh the index displayed on the webpage
        function refresh_attrLabel(){
            //we only select class "attributes", but not the "template_attributes"
            var templates = $('.attributes');
            //loop through all template elements
            templates.each(function(i){
                index = i + 1;

                var curr_label = $(this).children("label");
                var curr_button = $(this).children("button");
                var curr_input = $(this).children("input");

                //reset the id with the new index
                $(this).prop("id", "attributes_" + index);
                curr_label.html("Attribute " + index + ":");
                curr_label.prop("id", "Q" + index + "Label");
                curr_input.prop("id", "Q" + index + "Title");
                curr_input.prop("name", "Q" + index + "Title");
                curr_button.prop("id", "del_attr_" + index);
                curr_button.attr("onclick", "remove_attr(" + index + ");");
            });
        }

    </script>

</body>
</html>