<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Event feedback</title>
</head>
<body>

    <div class="w3-row w3-border w3-indigo">
        <div class="w3-container w3-half w3-center">
            <h1 id="title" th:text="${Event.eventName}"></h1>
        </div>
        <div class="w3-container w3-half w3-center">
            <h2 th:text="'Event Code: ' + ${Event.eventID}"></h2>
            <h2 th:text="'Event Password: ' + ${Event.eventPassword}"></h2>
            <p th:text="'Starting time: ' + ${{Event.StartDateTime}}"></p>
            <p th:text="'Finishing time: ' + ${{Event.FinishDateTime}}"></p>
        </div>
    </div>

    <br>

    <div class="w3-row w3-border">
        <div class="w3-container w3-twothird w3-center">
            <div class="w3-container w3-center w3-medium w3-indigo">
                <h3>Here are the feedback for this event:</h3>
            </div>

            <div id="feedbackContainer" class="w3-container w3-center w3-large" style="height:50vh; text-align: center; margin: auto; overflow:scroll;">

                <!-- Feedback will be printed by JS here -->

            </div>
        </div>
        <div class="w3-container w3-third w3-center">
            <div class="w3-container w3-center w3-medium w3-indigo">
                <h3>Here are the average scores for each of your customised attributes:</h3>
            </div>

            <div id="templateContainer" class="w3-container w3-center w3-large" style="height:50vh; text-align: center; margin: auto; overflow:scroll;">

                <!-- Template questions will be printed by JS here -->
                <hr id="templateEnd">

            </div>

        </div>
    </div>

    <!-- This is a template for the feedback table, format it to make it looks amazing -->
    <ul class="event_feedback w3-container w3-ul w3-center w3-card" id="feedbackBox_template" style="text-align: center; margin: auto;" hidden>
        <li id="name_x">Name</li>
        <li id="feedback_x">Feedback</li>
        <li id="additionalInformation_x">Info</li>
    </ul>
    <br>
    <!-- This is a template for the template answers table -->
    <ul class="template_questions w3-container w3-ul w3-center w3-card" id="templateBox_template" style="text-align: center; margin: auto;" hidden>
        <li id="question_x">Question Titile</li>
        <!-- I think I will just give an average mark for each question -->
        <li class="template_scores_template" id="score_x">Score</li>
    </ul>

    <br>

    <div class="w3-container w3-center w3-medium">
        <h2 class = "w3-indigo">Average mood rating:</h2>
        <h2 id="mood" style="font-weight: bold">No feedback has been received.</h2>
    </div>

    <br>

    <form class="w3-container w3-center w3-margin-bottom" method="GET" action="/host/eventsPage">

        <button type="submit" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding">Back to my events</button>

    </form>

    <script>

        $(document).ready(function(){
            var eventCode = "[[${Event.eventID}]]";
            var estimated_num = "[[${Event.estimatedAttendeeNumber}]]";
            //template questions is basically an array of string, corresponded to each question in order
            var template_questions = "[[${templateQuestions}]]";
            var event = new EventSource("/host/updateFeedback?eventCode=" + eventCode);
            
            //print template questions
            {   
                //as Thymeleaf replaces quotes to HTML value automatically, we need to cast it back
                //possible broken, if the template or feedback contains quotation marks, everything will be broken
                template_questions = JSON.parse(template_questions.replaceAll("&quot;", "\""));
                if(template_questions.length == 0){
                    //no template, tell user they don't have template
                    $("<p>").html("You don't have any customised attributes").appendTo("#templateEnd");
                }else{
                    $.each(template_questions, function(i, v){
                        var templateBox = $("#templateBox_template").clone().prop("id", "templateBox_" + i).prop("hidden", false);
                        var templateQuestion = templateBox.children("#question_x").prop("id", "question_" + i);
                        templateBox.children("#score_x").prop("id", "score_" + i).prop("class", "template_scores").html("N/A");
                        //modify values
                        templateQuestion.html(v.title);
                        
                        //insert
                        templateBox.insertBefore("#templateEnd");
                    });
                }
                
            }

            //SSE functions begin here

            event.onpen = function(e){
                //clear
                $("#feedbackContainer").html("");
            };

            event.onmessage = function(e){
                //convert to object
                //format: array of feedback objects
                var feedback = JSON.parse(e.data);
                //the average score for each template question
                var average_score = new Array(template_questions.length).fill(0);
                var average_mood = parseInt(0);

                //clear old data
                //setup a flag for insertion
                $("#feedbackContainer").html("<hr id='feedbackEnd'>");
                if(feedback.length == 0){
                    //no feedback
                    $("<p>").html("No feedback has been received.").appendTo("#feedbackEnd");
                }else{
                    //loop through each feedback
                    $.each(feedback, function(i, v){
                        //i: index, v: value
                        //get the answer for the template questions
                        //answer is an array of score for respective question
                        var template_answers = JSON.parse(v.answer);

                        //start printing feedback table
                        var feedbackBox = $("#feedbackBox_template").clone().prop("id", "feedbackBox_" + i).prop("hidden", false);
                        var feedback_name = feedbackBox.children("#name_x").prop("id", "name_" + i);
                        var feedback_content = feedbackBox.children("#feedback_x").prop("id", "feedback_" + i);
                        var feedback_info = feedbackBox.children("#additionalInformation_x").prop("id", "additionalInformation_" + i);
                        //modify values
                        feedback_name.html("Name: " + (v.attendeeName == "" ? "(Anonymous)" : v.attendeeName));
                        feedback_content.html("Feedback: " + v.feedback);
                        feedback_info.html(v.additionalInformation);

                        //insert
                        feedbackBox.insertBefore($("#feedbackEnd"));

                        //calculating sum of mood
                        average_mood += parseInt(v.mood);

                        //calculate average marks for template questions
                        $.each(template_answers, function(i_t, v_t){
                            //first we add them up
                            average_score[i_t] += parseInt(v_t);
                        });
                    });
                    //average mood
                    //to ensure accuracy, we won't display the average mood until there are over 10% of the estimated attendees who have submitted feedback
                    if(parseInt(feedback.length) < parseFloat(estimated_num) * 0.1){
                        $("#mood").html("We need more feedback in order to calculate a representative average mood.");
                        console.log(estimated_num);
                    }else{
                        average_mood /= feedback.length;
                        $("#mood").html(Math.round(average_mood) + "/10");
                    }

                    //at the end of the entire feedback loop, we take the average
                    //calculate average marks for template questions
                    //and display the average marks
                    $(".template_scores").each(function(i){
                        //the template questions are in the correct order as the array elements
                        $(this).html(Math.round(average_score[i] /= feedback.length) + "/10");
                    });
                }
                
            };

            event.onerror = function(e){
                //print some error message
            };
        });

    </script>

</body>
</html>