<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="../static/heading.html"></div>
    <title>Event feedback</title>
</head>
<body>

    <div class="w3-container w3-center w3-large w3-indigo">
        <div>
            <h1 id="title" th:text="${eventCode} + '::' + ${eventName}"></h1><br>
            <h2>Here are the feedback:</h2>
        </div>
    </div>

    <br>

    <div class="w3-container w3-center w3-large" style="width:75%; height:40vh">
        <div id="feedbackBox" >
            <!-- TODO print template answers -->
            <h1 id="updateTest"></h1>
        </div>
    </div>

    <br>

    <div class="w3-container w3-center w3-medium w3-border">
        <h2>Average mood:</h2>
        <p id="mood">-100/10</p>
    </div>

    <br>

    <form class="w3-container w3-center" method="GET" action="/host/eventsPage">

        <button type="submit" class="w3-btn w3-blue-grey w3-round-xxlarge w3-padding" style="width:50%">Back to my events</button>

    </form>

    <script>

        $(document).ready(function(){
            var eventCode = "[[${eventCode}]]";
            var event = new EventSource("/host/updateFeedback?eventCode=" + eventCode);

            event.onpen = function(e){
                //clear all old data
            };

            event.onmessage = function(e){
                //print new data
                $("#updateTest").html(e.data);
            };

            event.onerror = function(e){
                //print some error message
            };
        });

    </script>

</body>
</html>